* {

    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Helvetica;
    font-size: 13px;

}

/* flex generale */
.flex {

    display: flex;
    justify-content: center;
   
}

/* card-container */
.card {
    width: 30%;
    height: 460px;
    margin: 5%;
    border-radius: 7%;
    min-width: 200px;
    box-shadow: 2px 2px black;
    overflow: auto;
    border: solid;
}

/* id cards */
#card-lupin {


    background: red;
    /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, red, white);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, red, white);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, red, white);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, red, white);
    /* Standard syntax */
}

#card-jigen {


    background: rgb(12, 36, 12);
    /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, rgb(12, 36, 12), white);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, rgb(12, 36, 12), white);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, rgb(12, 36, 12), white);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, rgb(12, 36, 12), white);
    /* Standard syntax */
}


#card-goemon {


    background: rgba(130, 128, 128, 0.75);
    /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, rgba(130, 128, 128, 0.75), white);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, rgba(130, 128, 128, 0.75), white);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, rgba(130, 128, 128, 0.75), white);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, rgba(130, 128, 128, 0.75), white);
    /* Standard syntax */
}

/* header card */
.logo {
    width: 30px;
    border-radius: 100%;
}

.header-text {
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: flex-start;

}

.header-text p {
    color: white;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;
}

/* picture avatar */
.foto {

    width: 100%;
    height: 250px;
    background-color: white;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

/* commenti e bio */

.comment {
    display: flex;
    flex-direction: row;
    gap: 25px;


}

.comment,
.bio {

    padding: 5px;

}

/* Media query */
@media screen and (max-width: 375px) {
    #flex-id {

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 50px;
        margin-top: 50px;
    }



}


@media screen and  (min-width: 375px) and (max-width: 768px) {
    #flex-id {

        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        
    }
}

@media screen and (min-width: 769px) {
    #flex-id {

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

    }
}